@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
  .text-center {
    text-align: center;
  }

  .display-4 {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    color: #ff6347; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
  }
</style>

<div class="text-center">
    <h1 class="display-4">Velkommen til Big Mamma Pizzaria!</h1>
</div>